<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Details</title>
</head>
<body>
    <h1>Enter your contact details</h1>
    <form
    action = "#" th:action = "@{/contact}" th:object = "${contactObj}" method = "post">
    <p>
        <h2>Name</h2>
        <input type = "text" th:field = "*{name}">
    </p>
    <p>
        <h2>Email Address</h2>
        <input type = "text" th:field = "*{email}">
    </p>
    <p>
        <h2>Phone Number</h2>
        <input type = "text" th:field = "*{phone}">
    </p>
    <input type = "submit" value = "Submit">
    </form>
</body>
</html>